
<!-- Nav and Banner -->


    <!-- Main Banner Image - place in a paragraph to enforce the modular scale spacing -->
    <div class="panel callout title" id="banner"><h1><%= link_to 'EnviroView', 'http://www.github.com/abigezunt/enviroview' %></h1></div>


 
<!-- End Nav and Banner -->

<ul class="large-block-grid-1">

  <li class="panel">
    <div class="title"><h2>Total Greenhouse Gas Emissions by State in 2012</h2></div>
    <%= render 'chart' %>
  </li>

  <li class="panel">
    <div class="title"><h2>Mentions of the phrase "greenhouse gas" by legislators</h2></div>
    <div id="leaflet-map" class='visualization'></div>
  </li>

  <li class="panel">
   <div class="title"><h2>EPA data about greenhouse gas emitters</h2></div>
    <%= render 'googlemap' %>
  </li>

  
<!--   <li class="panel">
   <div class="title"><h2>Breakdown of fuel used for electricity by state</h2></div>
  </li> -->

</ul>

<div class='panel'>    
  <div class="legislation">
    <h4>Proposed Legislation about Greenhouse Gases:</h4>
    <% @bills.results.each do |result| %>
    <p><strong><%= link_to result.bill_id, result.urls['opencongress'] %>: </strong>introduced on <%= result.introduced_on %>: <%= result.official_title %></p>
    <% end %>
  </div>
</div>

<!-- Call to Action Panel -->
<!-- <div class="row">
  <div class="large-12 columns">

    <div class="panel">
      <h4>Get in touch!</h4>

      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you, you attractive person you.</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
        <p><a href="https://generalassemb.ly/education/web-development-immersive"><img src="http://ga.bling.phillbaker.com/images/shield_imagined_ga_wdi.png" alt="wdi" /></a> by <%= link_to 'Abby Howell', 'http://www.linkedin/in/abbyhowell' %>, <%= link_to 'Matt Clement', 'http://twitter.com/darkmoves' %>, and <%= link_to 'Dan Crews', 'http://www.linkedin.com/in/danielcrews' %>   </p>
  </div> 
</footer>

<script>
  document.write('<script src=' +
    ('__proto__' in {} ? 'assets/js/vendor/zepto' : 'js/vendor/jquery') +
    '.js><\/script>')
</script>

<script src="assets/js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
-->

<script>
  $(document).foundation();
</script>

